body {
	background-color:#FFFFFF;
	
}

h1 {
	color:#f48479;
	font-family: courier, "courier new", sans-serif;
	font-size: 18pt;

}

h3 {
	color:#f48479;
	font-family: courier, "courier new", sans-serif;
	font-size: 22pt;
	padding: 0px 40px 0px 40px;
}

h4 {
	color:#000000;
	font-family: courier, "courier new", sans-serif;
	font-size: 18pt;
	padding: 0px 40px 0px 40px;
}

p {
	color:#000000;
	font-family: courier, "courier new", sans-serif;
	font-size: 18pt;
	padding: 0px 40px 0px 40px;
	margin: 0px 0px 0px 0px;
}

ul {
	color:#000000;
	font-family: courier, "courier new", sans-serif;
	font-size: 18pt;
}

img {
	padding: 0px 0px 40px 0px;

}
