body {
	background-color:#FFFFFF;

}

h1 {
	color:#CCA0E8;
	font-family: courier, "courier new", sans-serif;

}

h3 {
	color:#000000;
	font-family: courier, "courier new", sans-serif;
}

h4 {
	color:#CCA0E8;
	font-family: courier, "courier new", sans-serif;
}

p {
	color:#000000;
	font-family: courier, "courier new", sans-serif;
}

ul {
	color:#000000;
	font-family: courier, "courier new", sans-serif;
}
